# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
__init__.py/
# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/
venv/

# =========================
# Django
# =========================
*.log
db.sqlite3
media/
staticfiles/

# =========================
# Environment Variables
# =========================
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Linux
# =========================
*~

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Testing
# =========================
.coverage
.pytest_cache/
htmlcov/

# =========================
# mypy
# =========================
.mypy_cache/

# =========================
# Ruff
# =========================
.ruff_cache/

# =========================
# Cache
# =========================
.cache/

# =========================
# Build
# =========================
build/
dist/
*.egg-info/

# =========================
# Node
# =========================
node_modules/

# =========================
# npm
# =========================
npm-debug.log*

# =========================
# Yarn
# =========================
yarn-error.log

# =========================
# Temporary Files
# =========================
# Temporary Files
# =========================
*.swp
*.swo